[Unit]
Description=Bitcoin Core
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/bitcoind \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/mnt/data/bitcoin
TimeoutStopSec=60
Restart=always
RestartSec=5s
ConfigurationDirectory=bitcoin
ReadWritePaths=/mnt/data/bitcoin
User=bitcoin
Group=bitcoin
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
PrivateIPC=true
RemoveIPC=true
ProtectProc=noaccess
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
NoNewPrivileges=true
RestrictNamespaces=true
LockPersonality=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
